.body {
  background-image: url("./images/brandi-redd-aJTiW00qqtI-unsplash.jpg");
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeDiv {
    margin: 0 auto;
    width: 100%;
    flex: 8;
}