.usersDiv {
  margin: 0 auto;
  text-align: center;
}

.tweetText {
  display: block;
  width: 50%;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.tweetSubmit {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  background: blueviolet;
  color: white;
  padding: 5px;
  border-radius: 50px;
  width: 100px;
}