.tweetsDiv {
    margin: 0 auto;
    text-align: center;
}

.tweet {
  border: 2px solid blueviolet;
  margin: 0 auto;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: beige;
  width: 60%
}

.delete {
  margin-bottom: 10px;
  background: red;
  color: white;
  border-radius: 50px;
  padding: 5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.userButton {
  background: blueviolet;
  color: white;
  border-radius: 50px;
  padding: 5px;
}